.App {
  /* ***********START CODING HERE***********  */
  .main-content {
    height: 80vh;
  }
  .main-button {
    background: #4991fd !important;
    font-weight: bold;
    color: white;
    height: 3rem;
    width: 100%;
    margin-top: 1rem;

    &:hover {
      filter: brightness(105%);
    }
  }

  /* ***********stop CODING HERE***********  */
}
