.App {
  /* ***********START CODING HERE***********  */
  .main-content {
    height: 80vh;
  }
  .main-button {
    background: #609dfa !important;
    font-weight: bold;
    color: white;
    height: 3rem;
  }

  /* ***********stop CODING HERE***********  */
}
