.student-info-page {
  max-width: 750px;
  margin: 0 auto;
  .rectangle {
    height: 3px;
    width: 95px;
    background-color: #d2a5e5;
    border-radius: 75px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 40px;
  }

  .margin4h1 {
    margin-bottom: 10px;
  }

  .margin4h5 {
    font-weight: lighter;
  }
}
