.landing-page {
  /* ***********START CODING HERE***********  */

  .button {
    border: none;
    font-size: 20px;
    background-color: #609dfa;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    display: inline-block;
    margin-top: 30px;
    border-radius: 50px;
    cursor: pointer;
  }

  .rectangle {
    height: 3px;
    width: 55px;
    background-color: #609dfa;
    border-radius: 75px;
    margin: 0 auto;
  }

  body {
    font-family: Didot, serif;
    font-size: 20px;
    line-height: 2;
    color: #f5f6f7;
  }

  p {font-size: 16px;}

  .margin1 {
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px #000000;
    font-size: 40px;
  }

  .margin2 {
    margin-bottom: 25px;
  }

  .lavendar {
    background-color: #ffffff;
    color: #d2a5e5;
  }

  .bgpurple {
    background-color: #6c0075;
    color: #ffffff;
  }

  .bgwhite {
    background-color: #ffffff;
    color: #474e5d;
  }

  .bgholder {
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 75px;
  }

  .checkmark{
    color: #609DFA; font-size: 40px;
  }

  /* ***********stop CODING HERE***********  */
}
