.footer {
  /* ***********START CODING HERE***********  */
  height: 10vh;
  text-align: center;
  // padding: 10px;
  background-color: #863b8f;
  color: white;

  .social-icon {
    margin: 0.25rem 0.5rem;
    font-size: 1.5rem;
  }

  /* ***********stop CODING HERE***********  */
}
