.login-page {
  .containerlogin {
    border-radius: 10px;
    border: 1.5px solid #c4c4c4;
    padding: 25px;
    max-width: 600px;
    box-shadow: 3px 3px 3px 1px #cfcfcf;
  }

  .margin3 {
    margin-top: 40px;
    margin-bottom: 25px;
  }

  .rectangle {
    height: 3px;
    width: 55px;
    background-color: #609dfa;
    border-radius: 75px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .extras {
    float: left;
    width: 250px;
    clear: left;
  }

  // .row {
  //   width: 750px;
  //   margin-left: 376px;
  //   margin-bottom: 60px;
  // }

  .colorlinks {
    font-size: 16px;
    // background-color: #ffffff;
    font-weight: normal;
    color: #609dfa;
  }
}
