.login-page {
  .containerlogin {
    border-radius: 10px;
    border: 1.5px solid #2e2e2e;
    padding: 25px;
    margin-bottom: 70px;
    // margin-top: 10px;
    margin-left: 35%;
    width: 450px;
    height: 480px;
    box-shadow: 5px 10px 10px 1px #cfcfcf;
  }

  .margin3 {
    margin-top: 40px;
    margin-bottom: 25px;
  }

  .rectangle {
    height: 3px;
    width: 65px;
    background-color: #609dfa;
    border-radius: 75px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .extras {
    float: left;
    width: 250px;
    clear: left;
  }

  .row {
    width: 750px;
    margin-left: 376px;
    margin-bottom: 60px;
  }

  .colorlinks {
    font-size: 16px;
    background-color: #ffffff;
    font-weight: normal;
  }
}
