.preferences-page {
  /* ***********START CODING HERE***********  */
  height: 100% !important;
  // .containerpref {
  //   border: 1px solid #ffffff;
  //   padding: 25px;
  //   // margin-bottom: 60px;
  //   // margin-top: 50px;
  //   // margin-left: 14%;
  //   // width: 1200px;
  //   // height: 1000px;
  // }

  .rectangle {
    height: 3px;
    width: 95px;
    background-color: #d2a5e5;
    border-radius: 75px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 40px;
  }

  .margin4h1 {
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .margin4h5 {
    margin-bottom: 20px;
    font-weight: lighter;
  }

  /* ***********stop CODING HERE***********  */
}
