.navbar-component {
  /* ***********START CODING HERE***********  */
  height: 10vh;
  .navbar {
    height: 10vh;
    background: #863b8f;
    a {
      margin: 0 1rem;
    }
    .nav-item {
      color: white;
    }

    .navbar-brand {
      img {
        width: 100px;
        filter: brightness(150%);
      }
    }
  }
  /* ***********stop CODING HERE***********  */
}
