.navbar-component {
  /* ***********START CODING HERE***********  */
  .navbar {
    background: rgb(108, 0, 117);
    .nav-item {
      color: white;
    }

    .navbar-brand {
      img {
        width: 100px;
        filter: brightness(150%);
      }
    }
  }
  /* ***********stop CODING HERE***********  */
}
